s*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-image: url(../img/fundo-topo.jpg);
    padding: 10px 0;

}

header h1{
    margin: 0; /*  externo */
    height: 84px;
}

nav{
    text-align: center;
    padding: 15px 0;

}

nav li{
    display: inline;
    padding-right:27px ; /* interno */
    margin-right: 10px;
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
}

nav a{
    text-decoration: none;
    color: #000;


}
 nav a:hover{
    color:#6dd432;

}

form{
    width:380px ;
}

form input,form textarea{
    width: 100%;
    border: 1px solid #6dd432;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

}

iframe{
    width: 100%;
}

h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}



/*Estilo Especificos IDS */

#itemcontato{
    background-image: none;
    padding-right:0; 
    margin-right:0;
}

#produto .flex-conteiner, #contato .flex-conteiner{
    margin-top: 43px;
}


 .fundo-verde{
    background-color: #bdff9c;

}

.conteiner{
    width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-conteiner{
    display: flex;
    justify-content: space-between;
}

.flex-conteiner .col{
    width: 430px;
    
}

.produto{
    width:235px;

}

.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    margin:0 0 15px 10px ;
    padding:0 ;
    text-align: center;
    height: 160px;
    line-height: 160px ;

}

.produto figure img{
    vertical-align: middle;

}

.text-centralizado{
    text-align:center;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

.galeria{

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 475e0fe05c58fe469dbf8d7130db0a9f8f5a0c6a
    margin: 20 px;
    padding: 0;



}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    background-color: #bdff9c;


}
.rodape{
    text-align: center;
=======
    height: 25px;
=======
    margin: 5px;
>>>>>>> 646449c56e30df7d8db250cdc4df10607fed75f1

>>>>>>> 475e0fe05c58fe469dbf8d7130db0a9f8f5a0c6a
}